In [1]:
import pandas as pd

In [15]:
df_plane = pd.read_csv('./AccidentesAviones.csv')
df_plane.shape

(5008, 18)

In [16]:
df_plane.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5008 entries, 0 to 5007
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              5008 non-null   int64
 1   fecha                   5008 non-null   object
 2   HORA declarada          5008 non-null   object
 3   Ruta                    5008 non-null   object
 4   OperadOR                5008 non-null   object
 5   flight_no               5008 non-null   object
 6   route                   5008 non-null   object
 7   ac_type                 5008 non-null   object
 8   registration            5008 non-null   object
 9   cn_ln                   5008 non-null   object
 10  all_aboard              5008 non-null   object
 11  PASAJEROS A BORDO       5008 non-null   object
 12  crew_aboard             5008 non-null   object
 13  cantidad de fallecidos  5008 non-null   object
 14  passenger_fatalities    5008 non-null   object
 15  crew_fatalities         5008 non-null   object
 16  ground                  5008 non-null   object
 17  summary                 5008 non-null   object
dtypes: int64(1), object(17)
memory usage: 704.4+ KB

In [17]:
df_plane.head(3)

,Unnamed: 0,fecha,HORA declarada,Ruta,OperadOR,flight_no,route,ac_type,registration,cn_ln,all_aboard,PASAJEROS A BORDO,crew_aboard,cantidad de fallecidos,passenger_fatalities,crew_fatalities,ground,summary
0,0,"September 17, 1908",1718,"Fort Myer, Virginia",Military - U.S. Army,?,Demonstration,Wright Flyer III,?,1,2,1,1,1,1,0,0,"During a demonstration flight, a U.S. Army fly..."
1,1,"September 07, 1909",?,"Juvisy-sur-Orge, France",?,?,Air show,Wright Byplane,SC1,?,1,0,1,1,0,0,0,Eugene Lefebvre was the first pilot to ever be...
2,2,"July 12, 1912",0630,"Atlantic City, New Jersey",Military - U.S. Navy,?,Test flight,Dirigible,?,?,5,0,5,5,0,5,0,First U.S. dirigible Akron exploded just offsh...

## EDA

In [19]:
# Replacing values
df_plane = df_plane.replace('?', 'NaN')

In [ ]:
# Checking column amount of 'NaN' values
df_plane['HORA declarada'].value_counts()

In [24]:
# Based on the previous column´s values analysis
df_plane = df_plane.drop(columns='HORA declarada')

In [ ]:
# Checking column amount of 'NaN' values
df_plane['flight_no'].value_counts()

In [25]:
# Based on the previous column´s values analysis
df_plane = df_plane.drop(columns='flight_no')

In [6]:
df_plane['fecha'] = pd.to_datetime(df_plane['fecha'])

In [7]:
df_plane['Ruta'] =df_plane['Ruta'].astype('string')

In [8]:
df_plane['OperadOR'] =df_plane['OperadOR'].astype('string')

In [9]:
df_plane['OperadOR'].value_counts()

Aeroflot                                      253
Military - U.S. Air Force                     141
Air France                                     74
Deutsche Lufthansa                             63
United Air Lines                               44
                                             ...
US Air Express/Air Midwest                      1
Singapore Airlines                              1
Avtex Air Services                              1
Military - Government of Equatorial Guinea      1
Kamchatka Aviation Enterprise                   1
Name: OperadOR, Length: 2268, dtype: Int64

In [10]:
df_plane.head()

,Unnamed: 0,fecha,Ruta,OperadOR,flight_no,route,ac_type,registration,cn_ln,all_aboard,PASAJEROS A BORDO,crew_aboard,cantidad de fallecidos,passenger_fatalities,crew_fatalities,ground,summary
0,0,1908-09-17,"Fort Myer, Virginia",Military - U.S. Army,?,Demonstration,Wright Flyer III,?,1,2,1,1,1,1,0,0,"During a demonstration flight, a U.S. Army fly..."
1,1,1909-09-07,"Juvisy-sur-Orge, France",?,?,Air show,Wright Byplane,SC1,?,1,0,1,1,0,0,0,Eugene Lefebvre was the first pilot to ever be...
2,2,1912-07-12,"Atlantic City, New Jersey",Military - U.S. Navy,?,Test flight,Dirigible,?,?,5,0,5,5,0,5,0,First U.S. dirigible Akron exploded just offsh...
3,3,1913-08-06,"Victoria, British Columbia, Canada",Private,?,?,Curtiss seaplane,?,?,1,0,1,1,0,1,0,The first fatal airplane accident in Canada oc...
4,4,1913-09-09,Over the North Sea,Military - German Navy,?,?,Zeppelin L-1 (airship),?,?,20,?,?,14,?,?,0,The airship flew into a thunderstorm and encou...

In [77]:
df_plane = df_plane.rename(columns={'Unnamed: 0' : 'crash_Id',
                                    'OperadOR' : 'operator',
                                    'Ruta': 'route'})