In [1]:
import pandas as pd

In [15]:
df_plane = pd.read_csv('./AccidentesAviones.csv')
df_plane.shape

(5008, 18)

In [32]:
df_plane.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5008 entries, 0 to 5007
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              5008 non-null   int64
 1   fecha                   5008 non-null   datetime64[ns]
 2   Ruta                    5008 non-null   string
 3   OperadOR                5008 non-null   string
 4   route                   5008 non-null   object
 5   ac_type                 5008 non-null   object
 6   registration            5008 non-null   object
 7   cn_ln                   5008 non-null   object
 8   all_aboard              5008 non-null   object
 9   PASAJEROS A BORDO       5008 non-null   object
 10  crew_aboard             5008 non-null   object
 11  cantidad de fallecidos  5008 non-null   object
 12  passenger_fatalities    5008 non-null   object
 13  crew_fatalities         5008 non-null   object
 14  ground                  5008 non-null   object
 15  summary                 5008 non-null   object
dtypes: datetime64[ns](1), int64(1), object(12), string(2)
memory usage: 626.1+ KB

In [17]:
df_plane.head(3)

,Unnamed: 0,fecha,HORA declarada,Ruta,OperadOR,flight_no,route,ac_type,registration,cn_ln,all_aboard,PASAJEROS A BORDO,crew_aboard,cantidad de fallecidos,passenger_fatalities,crew_fatalities,ground,summary
0,0,"September 17, 1908",1718,"Fort Myer, Virginia",Military - U.S. Army,?,Demonstration,Wright Flyer III,?,1,2,1,1,1,1,0,0,"During a demonstration flight, a U.S. Army fly..."
1,1,"September 07, 1909",?,"Juvisy-sur-Orge, France",?,?,Air show,Wright Byplane,SC1,?,1,0,1,1,0,0,0,Eugene Lefebvre was the first pilot to ever be...
2,2,"July 12, 1912",0630,"Atlantic City, New Jersey",Military - U.S. Navy,?,Test flight,Dirigible,?,?,5,0,5,5,0,5,0,First U.S. dirigible Akron exploded just offsh...

## EDA

In [19]:
# Replacing values
df_plane = df_plane.replace('?', 'NaN')

Dropping columns

In [ ]:
# Checking column amount of 'NaN' values
df_plane['HORA declarada'].value_counts()

In [24]:
# Based on the previous column´s values analysis
df_plane = df_plane.drop(columns='HORA declarada')

In [ ]:
# Checking column amount of 'NaN' values
df_plane['flight_no'].value_counts()

In [25]:
# Based on the previous column´s values analysis
df_plane = df_plane.drop(columns='flight_no')

In [84]:
# Drop this column because is not relevant in my case of analysis
df_plane = df_plane.drop(columns='cn_ln')

In [90]:
# Drop this column because is not relevant in my case of analysis
df_plane = df_plane.drop(columns='ground')

Changing data type

In [27]:
# Switching column data type
df_plane['fecha'] = pd.to_datetime(df_plane['fecha'])

In [29]:
# Switching column data type
df_plane['Ruta'] =df_plane['Ruta'].astype('string')

In [30]:
# Switching column data type
df_plane['OperadOR'] =df_plane['OperadOR'].astype('string')

In [79]:
df_plane['crew_aboard'] =df_plane['crew_aboard'].astype('string')

In [99]:
df_plane.head(3)

,Unnamed: 0,fecha,Ruta,OperadOR,route,ac_type,registration,all_aboard,PASAJEROS A BORDO,crew_aboard,cantidad de fallecidos,passenger_fatalities,crew_fatalities,summary
0,0,1908-09-17,"Fort Myer, Virginia",Military - U.S. Army,Demonstration,Wright Flyer III,NaN,2,1,1,1,1,0,"During a demonstration flight, a U.S. Army fly..."
1,1,1909-09-07,"Juvisy-sur-Orge, France",NaN,Air show,Wright Byplane,SC1,1,0,1,1,0,0,Eugene Lefebvre was the first pilot to ever be...
2,2,1912-07-12,"Atlantic City, New Jersey",Military - U.S. Navy,Test flight,Dirigible,NaN,5,0,5,5,0,5,First U.S. dirigible Akron exploded just offsh...

In [47]:
# Replace column 'NaN' to enable next step
df_plane['all_aboard'] = df_plane['all_aboard'].replace('NaN', ' ')

In [62]:
# Parsing column data type
df_plane['all_aboard'] = df_plane['all_aboard'].astype(int)

In [61]:
# Drop 'NaN' rows
df_plane.drop(df_plane[df_plane['ground'] == 'NaN'].index, inplace=True)

In [92]:
df_plane.shape

(4964, 14)

In [93]:
df_plane.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4964 entries, 0 to 5007
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              4964 non-null   int64
 1   fecha                   4964 non-null   datetime64[ns]
 2   Ruta                    4964 non-null   string
 3   OperadOR                4964 non-null   string
 4   route                   4964 non-null   object
 5   ac_type                 4964 non-null   object
 6   registration            4964 non-null   object
 7   all_aboard              4964 non-null   int32
 8   PASAJEROS A BORDO       4964 non-null   object
 9   crew_aboard             4964 non-null   string
 10  cantidad de fallecidos  4964 non-null   object
 11  passenger_fatalities    4964 non-null   object
 12  crew_fatalities         4964 non-null   object
 13  summary                 4964 non-null   object
dtypes: datetime64[ns](1), int32(1), int64(1), object(8), string(3)
memory usage: 562.3+ KB

In [89]:
df_plane.columns

Index(['Unnamed: 0', 'fecha', 'Ruta', 'OperadOR', 'route', 'ac_type',
       'registration', 'all_aboard', 'PASAJEROS A BORDO', 'crew_aboard',
       'cantidad de fallecidos', 'passenger_fatalities', 'crew_fatalities',
       'ground', 'summary'],
      dtype='object')

In [95]:
df_plane.rename(columns={'Unnamed: 0': 'crash_Id',
                        'Ruta': 'route',
                        'OperadOR': 'operator',
                        'route': 'purpose',
                        'ac_type': 'aircraft_type',
                        'PASAJEROS A BORDO': 'passangers_onboard',
                        'cantidad de fallecidos': 'deaths_number',

})

,crash_Id,fecha,route,operator,purpose,aircraft_type,registration,all_aboard,passangers_onboard,crew_aboard,deaths_number,passenger_fatalities,crew_fatalities,summary
0,0,1908-09-17,"Fort Myer, Virginia",Military - U.S. Army,Demonstration,Wright Flyer III,NaN,2,1,1,1,1,0,"During a demonstration flight, a U.S. Army fly..."
1,1,1909-09-07,"Juvisy-sur-Orge, France",NaN,Air show,Wright Byplane,SC1,1,0,1,1,0,0,Eugene Lefebvre was the first pilot to ever be...
2,2,1912-07-12,"Atlantic City, New Jersey",Military - U.S. Navy,Test flight,Dirigible,NaN,5,0,5,5,0,5,First U.S. dirigible Akron exploded just offsh...
3,3,1913-08-06,"Victoria, British Columbia, Canada",Private,NaN,Curtiss seaplane,NaN,1,0,1,1,0,1,The first fatal airplane accident in Canada oc...
4,4,1913-09-09,Over the North Sea,Military - German Navy,NaN,Zeppelin L-1 (airship),NaN,20,NaN,NaN,14,NaN,NaN,The airship flew into a thunderstorm and encou...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5003,5003,2021-03-28,"Near Butte, Alaska",Soloy Helicopters,Sightseeing Charter,Eurocopter AS350B3 Ecureuil,N351SH,6,5,1,5,4,1,The sightseeing helicopter crashed after missi...
5004,5004,2021-05-21,"Near Kaduna, Nigeria",Military - Nigerian Air Force,NaN,Beechcraft B300 King Air 350i,NAF203,11,7,4,11,7,4,"While on final approach, in poor weather condi..."
5005,5005,2021-06-10,"Near Pyin Oo Lwin, Myanmar",Military - Myanmar Air Force,Naypyidaw - Anisakan,Beechcraft 1900D,4610,14,12,2,12,11,1,The plane was carrying military personnel and ...
5006,5006,2021-07-04,"Patikul, Sulu, Philippines",Military - Philippine Air Force,Cagayan de Oro-Lumbia - Jolo,Lockheed C-130H Hercules,5125,96,88,8,50,NaN,NaN,"While attempting to land at Jolo Airport, the ..."
5007,5007,2021-07-06,"Palana, Russia",Kamchatka Aviation Enterprise,Petropavlovsk - Palana,Antonov An 26B-100,RA-26085,28,22,6,28,22,6,The passenger plane crashed into the top of a ...

In [96]:
df_plane.to_csv('airplaneCrashes.csv')