In [64]:
# Importing python library
import pandas as pd

In [65]:
# Reading source dataset
df_plane = pd.read_csv('./AccidentesAviones.csv')
df_plane.shape

(5008, 18)

### Visual source analysis

In [66]:
# Checking amount of records
df_plane.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5008 entries, 0 to 5007
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              5008 non-null   int64
 1   fecha                   5008 non-null   object
 2   HORA declarada          5008 non-null   object
 3   Ruta                    5008 non-null   object
 4   OperadOR                5008 non-null   object
 5   flight_no               5008 non-null   object
 6   route                   5008 non-null   object
 7   ac_type                 5008 non-null   object
 8   registration            5008 non-null   object
 9   cn_ln                   5008 non-null   object
 10  all_aboard              5008 non-null   object
 11  PASAJEROS A BORDO       5008 non-null   object
 12  crew_aboard             5008 non-null   object
 13  cantidad de fallecidos  5008 non-null   object
 14  passenger_fatalities    5008 non-null   object
 15  crew_fatalities         5008 non-null   object
 16  ground                  5008 non-null   object
 17  summary                 5008 non-null   object
dtypes: int64(1), object(17)
memory usage: 704.4+ KB

In [67]:
# Visualizing raw dataset
df_plane.head(3)

,Unnamed: 0,fecha,HORA declarada,Ruta,OperadOR,flight_no,route,ac_type,registration,cn_ln,all_aboard,PASAJEROS A BORDO,crew_aboard,cantidad de fallecidos,passenger_fatalities,crew_fatalities,ground,summary
0,0,"September 17, 1908",1718,"Fort Myer, Virginia",Military - U.S. Army,?,Demonstration,Wright Flyer III,?,1,2,1,1,1,1,0,0,"During a demonstration flight, a U.S. Army fly..."
1,1,"September 07, 1909",?,"Juvisy-sur-Orge, France",?,?,Air show,Wright Byplane,SC1,?,1,0,1,1,0,0,0,Eugene Lefebvre was the first pilot to ever be...
2,2,"July 12, 1912",0630,"Atlantic City, New Jersey",Military - U.S. Navy,?,Test flight,Dirigible,?,?,5,0,5,5,0,5,0,First U.S. dirigible Akron exploded just offsh...

## EDA

In [68]:
# Replacing values
df_plane = df_plane.replace('?', 'NaN')

Dropping columns

In [69]:
# Checking column amount of 'NaN' values
df_plane['HORA declarada'].value_counts()

NaN     1504
1500      35
1400      30
1100      30
1700      29
        ...
2129       1
1002       1
1151       1
0909       1
1914       1
Name: HORA declarada, Length: 1217, dtype: int64

In [70]:
# Based on the previous column´s values analysis
df_plane = df_plane.drop(columns='HORA declarada')

In [71]:
# Checking column amount of 'NaN' values
df_plane['flight_no'].value_counts()

NaN      3682
-          36
1          11
101         9
6           7
         ...
138         1
124         1
1-10        1
4422        1
SJ182       1
Name: flight_no, Length: 893, dtype: int64

In [72]:
# Dropping index column
df_plane = df_plane.drop(columns='Unnamed: 0')

In [73]:
# Based on the previous column´s values analysis
df_plane = df_plane.drop(columns='flight_no')

In [74]:
# Delete this column because is highly related with 'Ruta'
df_plane = df_plane.drop(columns='route')

In [75]:
# Drop this column because is not relevant in my case of analysis
df_plane = df_plane.drop(columns='registration')

In [76]:
# Drop this column because is not relevant in my case of analysis
df_plane = df_plane.drop(columns='cn_ln')

In [77]:
# Drop this column because is not relevant in my case of analysis
df_plane = df_plane.drop(columns='ground')

In [78]:
# Delete 'crew_fatalities' rows when are = to 'NaN'
df_plane.drop(df_plane[df_plane['crew_fatalities'] == 'NaN'].index, inplace=True)

In [79]:
# Delete 'PASAJEROS A BORDO' rows when are = to 'NaN'
df_plane.drop(df_plane[df_plane['PASAJEROS A BORDO'] == 'NaN'].index, inplace=True)

In [80]:
# Delete 'PASAJEROS A BORDO' rows when are = to 'NaN'
df_plane.drop(df_plane[df_plane['passenger_fatalities'] == 'NaN'].index, inplace=True)

In [81]:
# Drop this column because is not relevant in my case of analysis
df_plane = df_plane.drop(columns='summary')

### Changing data type

In [82]:
# Switching column data type
df_plane['fecha'] = pd.to_datetime(df_plane['fecha'])

In [83]:
# Assignig column type
df_plane['fecha'] = df_plane['fecha'].dt.date

In [84]:
# Switching column data type
df_plane['Ruta'] =df_plane['Ruta'].astype('string')

In [85]:
# Switching column data type
df_plane['OperadOR'] =df_plane['OperadOR'].astype('string')

In [86]:
# Parsing column type
df_plane['crew_aboard'] =df_plane['crew_aboard'].astype('string')

In [87]:
#Checking changes
df_plane.head(3)

,fecha,Ruta,OperadOR,ac_type,all_aboard,PASAJEROS A BORDO,crew_aboard,cantidad de fallecidos,passenger_fatalities,crew_fatalities
0,1908-09-17,"Fort Myer, Virginia",Military - U.S. Army,Wright Flyer III,2,1,1,1,1,0
1,1909-09-07,"Juvisy-sur-Orge, France",NaN,Wright Byplane,1,0,1,1,0,0
2,1912-07-12,"Atlantic City, New Jersey",Military - U.S. Navy,Dirigible,5,0,5,5,0,5

In [88]:
# Parsing column data type
df_plane['all_aboard'] = df_plane['all_aboard'].astype('string')

In [89]:
# Checking amount of rows and columns
df_plane.shape

(4765, 10)

In [90]:
# Checking column types
df_plane.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4765 entries, 0 to 5007
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   fecha                   4765 non-null   object
 1   Ruta                    4765 non-null   string
 2   OperadOR                4765 non-null   string
 3   ac_type                 4765 non-null   object
 4   all_aboard              4765 non-null   string
 5   PASAJEROS A BORDO       4765 non-null   object
 6   crew_aboard             4765 non-null   string
 7   cantidad de fallecidos  4765 non-null   object
 8   passenger_fatalities    4765 non-null   object
 9   crew_fatalities         4765 non-null   object
dtypes: object(6), string(4)
memory usage: 409.5+ KB

In [91]:
# Idexing dataset
df_plane['event_id'] = [x for x in range(1, len(df_plane)+1)]

# Shift column 'phase_id' to first position
first_column = df_plane.pop('event_id')
df_plane.insert(0, 'event_id', first_column)

In [92]:
# Renaming columns
df_plane = df_plane.rename(columns={'fecha': 'date',
                        'Ruta': 'route',
                        'OperadOR': 'operator',
                        'ac_type': 'aircraft_type',
                        'PASAJEROS A BORDO': 'passangers_onboard',
                        'cantidad de fallecidos': 'deaths_number'})

df_plane.head(3)

,event_id,date,route,operator,aircraft_type,all_aboard,passangers_onboard,crew_aboard,deaths_number,passenger_fatalities,crew_fatalities
0,1,1908-09-17,"Fort Myer, Virginia",Military - U.S. Army,Wright Flyer III,2,1,1,1,1,0
1,2,1909-09-07,"Juvisy-sur-Orge, France",NaN,Wright Byplane,1,0,1,1,0,0
2,3,1912-07-12,"Atlantic City, New Jersey",Military - U.S. Navy,Dirigible,5,0,5,5,0,5

In [93]:
# Checking new column 'event_id'
df_plane.shape

(4765, 11)

In [94]:
# Final dataset
df_plane.to_csv('airplaneCrashes.csv', sep=',', index=False)

________________________________________________________________________________________

# Final Main Dataset Column Description

### event_id:  dataset column id <br>

### date:  event date <br>

### route:  accident location <br>

### operator:  airline name <br>

### aircraft_type:  type of plane <br>

### all_aboard:  amount of people into the plane, includes crew and passengers <br>

### passengers_aboard:  amount of passengers <br>

### crew_aboard:  airline staff <br>

### deaths_number:  total of victims <br>

### passenger_fatalities:  amount of no-crew victims <br>

### crew_fatalities:  amount of staff victims <br>

___________________________________________________________________________________________________

## Lunar cycle dataset to link with

In [95]:
import pandas as pd

In [96]:
# Reading dataset
df_moon = pd.read_excel('./Lunar Cycle 1900-2022 Mountain View California Timezone.xlsx')

In [97]:
# Checking dataset
df_moon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1526 entries, 0 to 1525
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   new moons            1523 non-null   datetime64[ns]
 1   first quarter moon   1524 non-null   datetime64[ns]
 2   full moons           1526 non-null   datetime64[ns]
 3   third quarter moons  1524 non-null   datetime64[ns]
dtypes: datetime64[ns](4)
memory usage: 47.8 KB

In [98]:
# Dropping null values
df_moon = df_moon.dropna()

In [99]:
# Idexing dataset
df_moon['event_id'] = [x for x in range(1, len(df_moon)+1)]

# Shift column 'phase_id' to first position
first_column = df_moon.pop('event_id')
df_moon.insert(0, 'event_id', first_column)

In [100]:
# Inspecting final dataset info
df_moon.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1523 entries, 0 to 1522
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   event_id             1523 non-null   int64
 1   new moons            1523 non-null   datetime64[ns]
 2   first quarter moon   1523 non-null   datetime64[ns]
 3   full moons           1523 non-null   datetime64[ns]
 4   third quarter moons  1523 non-null   datetime64[ns]
dtypes: datetime64[ns](4), int64(1)
memory usage: 71.4 KB

In [101]:
# Save as .csv file
df_moon.to_csv('lunar_phases.csv', sep=',', index=False)

### Auxiliar Dataset Column Description

event_id : dataset column id <br>

new moons : lunar-phase <br>

first quarter moon : lunar-phase <br>

full moons : lunar-phase <br>

third quarter moons : lunar-phase <br>

___________________________________________________________________________________________

### THE END