In [1]:
import pandas as pd

In [15]:
df_plane = pd.read_csv('./AccidentesAviones.csv')
df_plane.shape

(5008, 18)

In [32]:
df_plane.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5008 entries, 0 to 5007
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              5008 non-null   int64
 1   fecha                   5008 non-null   datetime64[ns]
 2   Ruta                    5008 non-null   string
 3   OperadOR                5008 non-null   string
 4   route                   5008 non-null   object
 5   ac_type                 5008 non-null   object
 6   registration            5008 non-null   object
 7   cn_ln                   5008 non-null   object
 8   all_aboard              5008 non-null   object
 9   PASAJEROS A BORDO       5008 non-null   object
 10  crew_aboard             5008 non-null   object
 11  cantidad de fallecidos  5008 non-null   object
 12  passenger_fatalities    5008 non-null   object
 13  crew_fatalities         5008 non-null   object
 14  ground                  5008 non-null   object
 15  summary                 5008 non-null   object
dtypes: datetime64[ns](1), int64(1), object(12), string(2)
memory usage: 626.1+ KB

In [17]:
df_plane.head(3)

,Unnamed: 0,fecha,HORA declarada,Ruta,OperadOR,flight_no,route,ac_type,registration,cn_ln,all_aboard,PASAJEROS A BORDO,crew_aboard,cantidad de fallecidos,passenger_fatalities,crew_fatalities,ground,summary
0,0,"September 17, 1908",1718,"Fort Myer, Virginia",Military - U.S. Army,?,Demonstration,Wright Flyer III,?,1,2,1,1,1,1,0,0,"During a demonstration flight, a U.S. Army fly..."
1,1,"September 07, 1909",?,"Juvisy-sur-Orge, France",?,?,Air show,Wright Byplane,SC1,?,1,0,1,1,0,0,0,Eugene Lefebvre was the first pilot to ever be...
2,2,"July 12, 1912",0630,"Atlantic City, New Jersey",Military - U.S. Navy,?,Test flight,Dirigible,?,?,5,0,5,5,0,5,0,First U.S. dirigible Akron exploded just offsh...

## EDA

In [19]:
# Replacing values
df_plane = df_plane.replace('?', 'NaN')

In [ ]:
# Checking column amount of 'NaN' values
df_plane['HORA declarada'].value_counts()

In [24]:
# Based on the previous column´s values analysis
df_plane = df_plane.drop(columns='HORA declarada')

In [ ]:
# Checking column amount of 'NaN' values
df_plane['flight_no'].value_counts()

In [25]:
# Based on the previous column´s values analysis
df_plane = df_plane.drop(columns='flight_no')

In [27]:
# Switching column data type
df_plane['fecha'] = pd.to_datetime(df_plane['fecha'])

In [29]:
# Switching column data type
df_plane['Ruta'] =df_plane['Ruta'].astype('string')

In [30]:
# Switching column data type
df_plane['OperadOR'] =df_plane['OperadOR'].astype('string')

In [31]:
df_plane.head()

,Unnamed: 0,fecha,Ruta,OperadOR,route,ac_type,registration,cn_ln,all_aboard,PASAJEROS A BORDO,crew_aboard,cantidad de fallecidos,passenger_fatalities,crew_fatalities,ground,summary
0,0,1908-09-17,"Fort Myer, Virginia",Military - U.S. Army,Demonstration,Wright Flyer III,NaN,1,2,1,1,1,1,0,0,"During a demonstration flight, a U.S. Army fly..."
1,1,1909-09-07,"Juvisy-sur-Orge, France",NaN,Air show,Wright Byplane,SC1,NaN,1,0,1,1,0,0,0,Eugene Lefebvre was the first pilot to ever be...
2,2,1912-07-12,"Atlantic City, New Jersey",Military - U.S. Navy,Test flight,Dirigible,NaN,NaN,5,0,5,5,0,5,0,First U.S. dirigible Akron exploded just offsh...
3,3,1913-08-06,"Victoria, British Columbia, Canada",Private,NaN,Curtiss seaplane,NaN,NaN,1,0,1,1,0,1,0,The first fatal airplane accident in Canada oc...
4,4,1913-09-09,Over the North Sea,Military - German Navy,NaN,Zeppelin L-1 (airship),NaN,NaN,20,NaN,NaN,14,NaN,NaN,0,The airship flew into a thunderstorm and encou...

In [77]:
"""
df_plane = df_plane.rename(columns={'Unnamed: 0' : 'crash_Id',
                                    'OperadOR' : 'operator',
                                    'Ruta': 'route'})
                                    """