In [930]:
import pandas as pd

In [931]:
df_plane = pd.read_csv('./AccidentesAviones.csv')
df_plane.shape

(5008, 18)

In [932]:
df_plane.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5008 entries, 0 to 5007
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              5008 non-null   int64
 1   fecha                   5008 non-null   object
 2   HORA declarada          5008 non-null   object
 3   Ruta                    5008 non-null   object
 4   OperadOR                5008 non-null   object
 5   flight_no               5008 non-null   object
 6   route                   5008 non-null   object
 7   ac_type                 5008 non-null   object
 8   registration            5008 non-null   object
 9   cn_ln                   5008 non-null   object
 10  all_aboard              5008 non-null   object
 11  PASAJEROS A BORDO       5008 non-null   object
 12  crew_aboard             5008 non-null   object
 13  cantidad de fallecidos  5008 non-null   object
 14  passenger_fatalities    5008 non-null   object
 15  crew_fatalities         5008 non-null   object
 16  ground                  5008 non-null   object
 17  summary                 5008 non-null   object
dtypes: int64(1), object(17)
memory usage: 704.4+ KB

In [933]:
df_plane.head(3)

,Unnamed: 0,fecha,HORA declarada,Ruta,OperadOR,flight_no,route,ac_type,registration,cn_ln,all_aboard,PASAJEROS A BORDO,crew_aboard,cantidad de fallecidos,passenger_fatalities,crew_fatalities,ground,summary
0,0,"September 17, 1908",1718,"Fort Myer, Virginia",Military - U.S. Army,?,Demonstration,Wright Flyer III,?,1,2,1,1,1,1,0,0,"During a demonstration flight, a U.S. Army fly..."
1,1,"September 07, 1909",?,"Juvisy-sur-Orge, France",?,?,Air show,Wright Byplane,SC1,?,1,0,1,1,0,0,0,Eugene Lefebvre was the first pilot to ever be...
2,2,"July 12, 1912",0630,"Atlantic City, New Jersey",Military - U.S. Navy,?,Test flight,Dirigible,?,?,5,0,5,5,0,5,0,First U.S. dirigible Akron exploded just offsh...

## EDA

In [934]:
# Replacing values
df_plane = df_plane.replace('?', 'NaN')

Dropping columns

In [935]:
# Checking column amount of 'NaN' values
df_plane['HORA declarada'].value_counts()

NaN     1504
1500      35
1400      30
1100      30
1700      29
        ...
2129       1
1002       1
1151       1
0909       1
1914       1
Name: HORA declarada, Length: 1217, dtype: int64

In [936]:
# Based on the previous column´s values analysis
df_plane = df_plane.drop(columns='HORA declarada')

In [937]:
# Checking column amount of 'NaN' values
df_plane['flight_no'].value_counts()

NaN      3682
-          36
1          11
101         9
6           7
         ...
138         1
124         1
1-10        1
4422        1
SJ182       1
Name: flight_no, Length: 893, dtype: int64

In [938]:
# Based on the previous column´s values analysis
df_plane = df_plane.drop(columns='flight_no')

In [939]:
# Delete this column because is highly related with 'Ruta'
df_plane = df_plane.drop(columns='route')

In [940]:
# Drop this column because is not relevant in my case of analysis
df_plane = df_plane.drop(columns='registration')

In [941]:
# Drop this column because is not relevant in my case of analysis
df_plane = df_plane.drop(columns='cn_ln')

In [942]:
# Drop this column because is not relevant in my case of analysis
df_plane = df_plane.drop(columns='ground')

In [943]:
# Delete 'crew_fatalities' rows when are = to 'NaN'
df_plane.drop(df_plane[df_plane['crew_fatalities'] == 'NaN'].index, inplace=True)

In [944]:
# Delete 'PASAJEROS A BORDO' rows when are = to 'NaN'
df_plane.drop(df_plane[df_plane['PASAJEROS A BORDO'] == 'NaN'].index, inplace=True)

In [945]:
# Delete 'PASAJEROS A BORDO' rows when are = to 'NaN'
df_plane.drop(df_plane[df_plane['passenger_fatalities'] == 'NaN'].index, inplace=True)

In [946]:
# Drop this column because is not relevant in my case of analysis
df_plane = df_plane.drop(columns='summary')

Changing data type

In [947]:
# Switching column data type
df_plane['fecha'] = pd.to_datetime(df_plane['fecha'])

In [948]:
df_plane['fecha'] = df_plane['fecha'].dt.date

In [949]:
# Switching column data type
df_plane['Ruta'] =df_plane['Ruta'].astype('string')

In [950]:
# Switching column data type
df_plane['OperadOR'] =df_plane['OperadOR'].astype('string')

In [951]:
df_plane['crew_aboard'] =df_plane['crew_aboard'].astype('string')

In [952]:
df_plane.head(3)

,Unnamed: 0,fecha,Ruta,OperadOR,ac_type,all_aboard,PASAJEROS A BORDO,crew_aboard,cantidad de fallecidos,passenger_fatalities,crew_fatalities
0,0,1908-09-17,"Fort Myer, Virginia",Military - U.S. Army,Wright Flyer III,2,1,1,1,1,0
1,1,1909-09-07,"Juvisy-sur-Orge, France",NaN,Wright Byplane,1,0,1,1,0,0
2,2,1912-07-12,"Atlantic City, New Jersey",Military - U.S. Navy,Dirigible,5,0,5,5,0,5

In [953]:
# Parsing column data type
df_plane['all_aboard'] = df_plane['all_aboard'].astype('string')

In [954]:
df_plane.shape

(4765, 11)

In [955]:
df_plane.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4765 entries, 0 to 5007
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              4765 non-null   int64
 1   fecha                   4765 non-null   object
 2   Ruta                    4765 non-null   string
 3   OperadOR                4765 non-null   string
 4   ac_type                 4765 non-null   object
 5   all_aboard              4765 non-null   string
 6   PASAJEROS A BORDO       4765 non-null   object
 7   crew_aboard             4765 non-null   string
 8   cantidad de fallecidos  4765 non-null   object
 9   passenger_fatalities    4765 non-null   object
 10  crew_fatalities         4765 non-null   object
dtypes: int64(1), object(6), string(4)
memory usage: 446.7+ KB

In [956]:
df_plane = df_plane.rename(columns={'Unnamed: 0': 'crash_Id',
                        'fecha': 'date',
                        'Ruta': 'route',
                        'OperadOR': 'operator',
                        'ac_type': 'aircraft_type',
                        'PASAJEROS A BORDO': 'passangers_onboard',
                        'cantidad de fallecidos': 'deaths_number'})

df_plane.head(3)

,crash_Id,date,route,operator,aircraft_type,all_aboard,passangers_onboard,crew_aboard,deaths_number,passenger_fatalities,crew_fatalities
0,0,1908-09-17,"Fort Myer, Virginia",Military - U.S. Army,Wright Flyer III,2,1,1,1,1,0
1,1,1909-09-07,"Juvisy-sur-Orge, France",NaN,Wright Byplane,1,0,1,1,0,0
2,2,1912-07-12,"Atlantic City, New Jersey",Military - U.S. Navy,Dirigible,5,0,5,5,0,5

In [957]:
df_plane.shape

(4765, 11)

In [958]:
df_plane.to_csv('airplaneCrashes.csv', sep=',', index=False)

## Lunar cycle dataset

In [1]:
import pandas as pd

In [2]:
df_moon = pd.read_excel('./Lunar Cycle 1900-2022 Mountain View California Timezone.xlsx')

In [11]:
df_moon.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1523 entries, 0 to 1522
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   new moons            1523 non-null   datetime64[ns]
 1   first quarter moon   1523 non-null   datetime64[ns]
 2   full moons           1523 non-null   datetime64[ns]
 3   third quarter moons  1523 non-null   datetime64[ns]
dtypes: datetime64[ns](4)
memory usage: 59.5 KB

In [10]:
df_moon = df_moon.dropna()